@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap';

.colorPrimary{
  background-color: #2B629C;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}


.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  border-width: 1;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #cccccc;
  box-sizing: border-box;
  width: 8rem;
  height: 2.4rem;
}
.rw-number-picker ,rw-widget,rw-widget-input ,rw-input{
  width: 4.5rem;
}
.label-cant{
  border-width: 1;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #cccccc;
  box-sizing: border-box;
  height: 2.4rem;
  width: 10rem;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:hover {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  border-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  color: rgba(31,41,55,var(--tw-text-opacity));
} 
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
  --tw-text-opacity: 1;
  align-items: center;
  border-right-width: 4px;
  border-left-width: 0px !important;
  color: rgba(209,214,242,var(--tw-text-opacity) ) !important;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.5rem;
  width: 100%;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  border-color: rgba(209,214,242,var(--tw-border-opacity));
  color: rgba(31,41,55,var(--tw-text-opacity));
  text-align: center;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(243,244,246,var(--tw-bg-opacity));
    border-color: rgba(209,214,242,var(--tw-border-opacity)) !important;
    color: rgba(31,41,55,var(--tw-text-opacity));
}
.side-navigation-panel *, .side-navigation-panel:after, .side-navigation-panel:before {
  border-color: #2b629c !important;
  
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}
.side-navigation-panel{
  height: 100vh;
 

}
.side-navigation-panel-select-option-text{
  color: white;

}
.TopSidebar{
  height: max-content;
}

/*(=･ω･=) css of information*/
body {
  margin: 0;
}

.accordion-item-input:checked ~ .accordion-item-bd {
  max-height: 1000px;
  padding-top: 15px;
  margin-bottom: 15px;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}

.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
  transform: rotate(0);
}

.accordion-item-hd-cta {
  display: block;
  width: 30px;
  position: absolute;
  top: calc(50% - 6px );
  right: 0;
  pointer-events: none;
  transition: transform .3s ease;
  transform: rotate(-180deg);
  text-align: center;
  font-size: 12px;
  line-height: 1;
}

.accordion-item-bd {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden ;
  transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
}

.accordion-item-input {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

/* 
.preguntas-frecuentes {
	position: relative;
	width: 100%;
	z-index: 89;
	}
*/
.preguntas-frecuentes-contenedor {
  margin: 0 auto;
	padding: 1em;
	position: relative;
	overflow: hidden;
	width: 80%;
	max-width: 106.25rem;
}
/*
.preguntas-frecuentes-encabezado-linea-roja {
  border-bottom: 2px #d60510 solid;
	margin: 15px auto 21px;
	width: 40px;
}
*/
.preguntas-frecuentes h1 {
  text-align: center;
}

.preguntas {
  padding-top:0%;
  max-height:0%;
  top: 0px;
}

.preguntas label {
  background: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 8px;
  cursor: pointer;
  display: block;
	font-size: 1.1875rem;
	letter-spacing: -.0225rem;
	line-height: 1.36842;
	margin-bottom: 16px;
	padding: 20px 10px;
  position: relative;
	transition: all 0.35s ease;
}

.preguntas label:hover {
  background: #2B629C;
	color: #fff;
	cursor: pointer;
}

.preguntas label::before {
  content: "\276f";
	font-size: 18px;
	float: left;
	line-height: 30px;
	margin: 0 15px 0 5px;
	transition: all 0.15s ease;
	color: #d60510;
}

.preguntas label:hover::before {
  color: #fff;
  opacity: 0.55;
  transform: rotate(90deg);
}

.preguntas-cerrar {
  cursor: pointer;
}

.preguntas label.cerrar::after {
  content: "\2715";
	float: right;
	font-size: 11px;
	font-weight: 300;
	line-height: 30px;
}

.preguntas label.cerrar::before {
  transform: rotate(-90deg);
}

.respuesta {
  background: #fff;
  line-height: 1.8em;
  margin-bottom: 25px;
  margin-top: -17px;
  border-top: 1px dashed #eee;
  border-radius: 11px
}

.respuesta p {
  margin: 0;
  padding: 25px 25px;
}

.respuesta-enlace-dotted {
  border-bottom: 1px dotted #000;
}

/*.texto-h3 {
  font-size: 0.21rem;
}*/

@media (min-width: 400px) {
  /*.texto-h3 {
    font-size: 1.59rem;
  }*/
}
	
@media (min-width: 768px) {
  /*.preguntas {
    padding-top: 5.21rem;*/
  }
  .preguntas label {
    font-size: 1.3125rem;
    letter-spacing: -.01875rem;
    line-height: 1.33333;
    padding: 20px;
  }
  .respuesta p {
    font-size: 1.21rem;
    letter-spacing: 0.021rem;
    line-height: 2.1;
    padding: 25px 50px;
  }
  /*.texto-h3 {
    font-size: 1.7rem;
  }*/


@media (min-width: 1000px) {
  .texto-h3 {
    font-size: 2.35rem;
  }
}
/*(*✧×✧*) termina seccion de css informacion*/


/*Ocultar boton de usuario*/
/*.inline-flex 
.rounded-md{
  color : #2B629C;
  background-color: #2B629C !important;
  border-color: #2B629C !important;
}*/
.aceptadaButton{
  background-color: #1C9027;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #B1B1B1;

}
textarea:disabled,
textarea[disabled]{
  background-color:#cccccc ;
  border: 1px solid #999999;
}

.derecha{
  float: right;
}
.noEditar{
  resize: none;
}
.aceptada{
  color: #1C9027;
}
.pendiente{
  color:#0066c3;
}
.rechazada{
  color:#901C1C;
}
.fondoBarra{
  background-color:#5B91C3;
}

.side-navigation-panel-select-inner-option-text{
  color: white;
 
}
.fondoModal{
  background-color: #e3e3e3;
}
.fondoModal2{
  background-color: white;
  
}


.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option-selected {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  border-left-width: 0px !important;
  border-right-width: 4px;
  background-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  border-color: rgba(209,214,242,var(--tw-border-opacity)) !important;
  color: rgba(31,41,55,var(--tw-text-opacity));
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap :hover {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  border-left-width: 0px !important;
  border-right-width: 4px;
  background-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  border-color:  rgba(32,78,126,var(--tw-bg-opacity)) !important;
} 
