@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap';

.colorPrimary{
  background-color: #2B629C;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  border-width: 1;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #cccccc;
  box-sizing: border-box;
  width: 8rem;
  height: 2.5rem;
}
.rw-number-picker ,rw-widget,rw-widget-input ,rw-input{
  width: 4.5rem;
}