@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap';

.colorPrimary{
  background-color: #2B629C;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  border-width: 1;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #cccccc;
  box-sizing: border-box;
  width: 8rem;
  height: 2.4rem;
}
.rw-number-picker ,rw-widget,rw-widget-input ,rw-input{
  width: 4.5rem;
}
.label-cant{
  border-width: 1;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #cccccc;
  box-sizing: border-box;
  height: 2.4rem;
  width: 10rem;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:hover {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  border-color: rgba(209,214,242,var(--tw-border-opacity)) !important;
  color: rgba(31,41,55,var(--tw-text-opacity));
} 
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
  --tw-text-opacity: 1;
  align-items: center;
  border-right-width: 4px;
  border-left-width: 0px !important;
  color: rgba(209,214,242,var(--tw-text-opacity) ) !important;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1.5rem;
  width: 100%;
}
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(32,78,126,var(--tw-bg-opacity)) !important;
  border-color: rgba(209,214,242,var(--tw-border-opacity));
  color: rgba(31,41,55,var(--tw-text-opacity));
  text-align: center;
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(243,244,246,var(--tw-bg-opacity));
    border-color: rgba(209,214,242,var(--tw-border-opacity)) !important;
    color: rgba(31,41,55,var(--tw-text-opacity));
}
.side-navigation-panel *, .side-navigation-panel:after, .side-navigation-panel:before {
  border-color: #2b629c !important;
  
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}
.side-navigation-panel{
  height: 100vh;
 

}
.side-navigation-panel-select-option-text{
  color: white;

}
.TopSidebar{
  height: max-content;
}

